/**
 * @file
 * Personalized block demo styles.
 */

.sidebar .block.personalized-block-demo {
  padding: 0;
}

.block.personalized-block-demo .personalized-block {
  border: 5px solid #ccc;
}

.block.block.personalized-block-demo .block {
  margin: 0;
}

.block.personalized-block-demo .block-block-content {
  margin: 0;
  padding: 0;
}

.block.personalized-block-demo .content {
  margin: 0;
}

.block.personalized-block-demo .content h3 {
  margin: .5em 0;
  text-align: center;
  height: 1em;
  line-height: 1em;
  font-size: 3em;
  font-weight: normal;
}

.block.personalized-block-demo .content img {
  display: block;
  text-align: center;
}

.block.personalized-block-demo .paragraph--type--personalized-block-demo {
  padding: 10px;
}
